<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- SqlSession setup for MyBatis Database Layer -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:/com/minervasoft/sqlmap/sql-mapper-config.xml" />
        <!-- <property name="mapperLocations" value="classpath:/com/minervasoft/sqlmap/mappers/*.xml" />-->
        <!--  property name="mapperLocations" value="classpath:/com/minervasoft/sqlmap/mappers/dpm.sql.db2.xml" /  -->
        <!-- 
        <property name="mapperLocations" value="classpath:/com/minervasoft/sqlmap/mappers/dpm.sql.oracle.xml" />
         -->
        <property name="mapperLocations" value="classpath:/com/minervasoft/sqlmap/mappers/dpm.sql.maria.xml" />
        
        <!-- 개발시 로그에 SQL 파라미터  적용 -->
        <property name="plugins">
            <bean class="com.minervasoft.backend.common.SqlInterceptor" />
        </property>
    </bean>
    
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate"> 
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean> 

    
</beans>